# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
*.log
uploads/
frames/

.DS_Store 
NODE_MODULES/*
